<app-loading *ngIf="isLoading; else content"></app-loading>
<ng-template #content>
  <div class="grid">
    <div class="grid-container">
      <app-grid-item
        *ngFor="let pokemon of pokemons; let i = index"
        [pokemon]="pokemon"
        [id]="i + offset + 1"
      ></app-grid-item>
    </div>
    <div class="pagination-btns">
      <button (click)="goToPreviousPage()" [hidden]="!prevUrl">Previous</button>
      <button
        (click)="goToNextPage()"
        [hidden]="this.offset + this.limit >= this.totalPokemons"
      >
        Next
      </button>
    </div>
  </div>
</ng-template>
