.grid {
  margin: 0 auto;
  width: 95%;
  padding: 25px 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  max-width: 100%;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.pagination-btns {
  position: fixed;
  bottom: 20px;
  right: 50px;
  margin: 10px 0;
  display: flex;
  justify-content: end;
  gap: 5px;
}
.pagination-btns button {
  border: none;
  font-weight: bold;
  font-size: 85%;
  background-color: black;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}
