.search-bar {
  display: flex;
  align-items: center;
  width: 400px;
  padding: 5px;
  padding-left: 8px;
  border-radius: 5px;
  position: relative;
}

.search-bar input {
  flex-grow: 1;
  margin-left: 5px;
  padding-left: 40px;
  position: relative;
  z-index: 3;
}

.pi-search {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 7%;
  transform: translateY(-50%);
}

.search-dropdown {
  position: absolute;
  top: 54px;
  left: 14px;
  width: 382px;
  border: 1px solid #ced4d9;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1;
}

.search-dropdown-label {
  font-weight: bold;
  color: #64748b;
  font-size: 14px;
  padding-bottom: 3px;
}

.search-dropdown-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.search-dropdown-item {
  padding: 6px 12px;
  cursor: pointer;
}

.search-dropdown-item:hover {
  background-color: #f1f5f9;
}

.search-dropdown-item.selected {
  background-color: #e3e3e3;
}

@media (max-width: 768px) {
  .search-bar {
    width: 100%;
  }

  .search-dropdown {
    width: 93%;
  }

  .pi-search {
    left: 11%;
  }
}
