.detail-container {
  width: 92%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

@media (max-width: 768px) {
  .detail-container {
    grid-template-columns: 1fr;
  }
}

.detail-card {
  border: 1px solid rgb(211, 211, 211);
  padding: 10px 20px;
}

.detail-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-title-name {
  font-size: 48px;
}

.detail-types-box {
  margin-right: 2px;
  padding: 3px 10px;
  background-color: black;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: 12px;
}
.normal-color {
  /* Define styles for normal type */
  background-color: #a8a878; /* Normal color */
}

.fire-color {
  /* Define styles for fire type */
  background-color: #f08030; /* Orange */
}

.water-color {
  /* Define styles for water type */
  background-color: #6890f0; /* Blue */
}

.grass-color {
  /* Define styles for grass type */
  background-color: #78c850; /* Green */
}

.electric-color {
  /* Define styles for electric type */
  background-color: #f8d030; /* Yellow */
}

.ice-color {
  /* Define styles for ice type */
  background-color: #98d8d8; /* Light blue */
}

.fighting-color {
  /* Define styles for fighting type */
  background-color: #c03028; /* Dark red */
}

.poison-color {
  /* Define styles for poison type */
  background-color: #a040a0; /* Purple */
}

.ground-color {
  /* Define styles for ground type */
  background-color: #e0c068; /* Brown */
}

.flying-color {
  /* Define styles for flying type */
  background-color: #a890f0; /* Violet */
}

.psychic-color {
  /* Define styles for psychic type */
  background-color: #f85888; /* Pink */
}

.bug-color {
  /* Define styles for bug type */
  background-color: #a8b820; /* Olive green */
}

.rock-color {
  /* Define styles for rock type */
  background-color: #b8a038; /* Tan */
}

.ghost-color {
  /* Define styles for ghost type */
  background-color: #705898; /* Dark purple */
}

.dark-color {
  /* Define styles for dark type */
  background-color: #705848; /* Dark brown */
}

.dragon-color {
  /* Define styles for dragon type */
  background-color: #7038f8; /* Indigo */
}

.steel-color {
  /* Define styles for steel type */
  background-color: #b8b8d0; /* Silver */
}

.fairy-color {
  /* Define styles for fairy type */
  background-color: #ee99ac; /* Light pink */
}

.detail-size {
  padding: 0 20px;
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.detail-size-height {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  border-right: 1px solid rgb(208, 208, 208);
  h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(208, 208, 208);
  }
}

.detail-size-weight {
  display: flex;
  flex-direction: column;
  h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(208, 208, 208);
  }
}

.detail-flex-img {
  display: flex;
  justify-content: center;
}

.detail-img {
  width: 80%;
  max-width: 270px;
  height: auto;
}

.detail-description {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detail-description-text {
  margin-bottom: 5px;
}

.detail-description-details {
  display: flex;
  gap: 20px;
}

.detail-description-details-flex {
  display: flex;
  flex-direction: column;
}
